.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;

    grid-area: experience;

     p {
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: var(--text-secondary);

        margin-bottom: 24px;

     }

    @media (min-widht: 768px) {
        align-itens: flex-start;

        p {
            font-weight: 300;
            font-size: 24px;
            line-height: 28px;
        }
    }
}